*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/ChatSDKTest/src/main/java/com/mengjia/chat/Test.java
/ChatSDKTest/libs/baseLibrary-release.aar
/ChatSDKTest/libs/chatMJlibrary-release.aar
/ChatSDKTest/libs/elva-1.7.2.2.aar
/ChatSDKTest/libs/facebook-common-7.0.0.aar
/ChatSDKTest/libs/facebook-core-7.0.0.aar
/ChatSDKTest/libs/firebase-messaging-release.aar
/ChatSDKTest/libs/play-services-auth-release.aar
/ChatSDKTest/libs/play-services-base-release.aar
/ChatSDKTest/libs/play-services-basement-release.aar
/ChatSDKTest/libs/sdkcommon-release.aar
/ChatSDKTest/libs/sdkfacebook-release.aar
/ChatSDKTest/libs/sdkgoogle-release.aar
/ChatSDKTest/libs/sdkgoogleservicejson-release.aar
/ChatSDKTest/libs/sdkipandcountry-release.aar
/ChatSDKTest/libs/sdklibrary-release.aar
/ChatSDKTest/src/main/java/com/mengjia/chat/Test.java
/ChatSDKTest/libs/baseLibrary-release.aar
/ChatSDKTest/libs/chatMJlibrary-release.aar
/ChatSDKTest/libs/elva-1.7.2.2.aar
/ChatSDKTest/libs/facebook-common-7.0.0.aar
/ChatSDKTest/libs/facebook-core-7.0.0.aar
/ChatSDKTest/libs/firebase-messaging-release.aar
/ChatSDKTest/libs/play-services-auth-release.aar
/ChatSDKTest/libs/play-services-base-release.aar
/ChatSDKTest/libs/play-services-basement-release.aar
/ChatSDKTest/libs/sdkcommon-release.aar
/ChatSDKTest/libs/sdkfacebook-release.aar
/ChatSDKTest/libs/sdkgoogle-release.aar
/ChatSDKTest/libs/sdkgoogleservicejson-release.aar
/ChatSDKTest/libs/sdkipandcountry-release.aar
/ChatSDKTest/libs/sdklibrary-release.aar
/unityTest/libs/classes.jar
/unityTest/src/main/res/layout/test_layout.xml
/unityTest/src/main/res/mipmap/audio_cancel.png
/unityTest/src/main/res/mipmap/image_load_error.png
/unityTest/src/main/res/mipmap/photo_album_icon.png
/unityTest/src/main/res/values/attr.xml
/unityTest/src/main/res/values/colors.xml
/unityTest/src/main/java/com/example/unitytest/SdkMain.java
/unityTest/src/main/java/com/example/unitytest/SlidingMenu.java
/unityTest/src/main/java/com/example/unitytest/TestActivity.java
/unityTest/src/main/AndroidManifest.xml
/unityTest/src/androidTest/java/com/example/unitytest/ExampleInstrumentedTest.java
/unityTest/src/test/java/com/example/unitytest/ExampleUnitTest.java
/unityTest/.gitignore
/unityTest/build.gradle
/unityTest/consumer-rules.pro
/unityTest/proguard-rules.pro
