/build
/libs/viewpager2.jar
/src/main/res/drawable/ic_launcher_background.xml
/src/main/res/drawable-v24/ic_launcher_foreground.xml
/src/main/res/layout/activity_main.xml
/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/src/main/res/mipmap-hdpi/ic_launcher.png
/src/main/res/mipmap-hdpi/ic_launcher_round.png
/src/main/res/mipmap-mdpi/ic_launcher.png
/src/main/res/mipmap-mdpi/ic_launcher_round.png
/src/main/res/mipmap-xhdpi/ic_launcher.png
/src/main/res/mipmap-xhdpi/ic_launcher_round.png
/src/main/res/mipmap-xxhdpi/ic_launcher.png
/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
/src/main/res/values/colors.xml
/src/main/res/values/strings.xml
/src/main/res/values/styles.xml
/src/main/java/com/example/testaar/MainActivity.java
/src/main/java/com/example/testaar/TestApp.java
/src/main/AndroidManifest.xml
/src/androidTest/java/com/example/testaar/ExampleInstrumentedTest.java
/src/test/java/com/example/testaar/ExampleUnitTest.java
/.gitignore
/build.gradle
/proguard-rules.pro
